@media (min-width: 769px) {
  .client {
    padding: 30px 0px;
  }
  .clRow {
    width: 1140px;
  }
  .clCol {
    padding: 15px;
  }
  .clP {
    font-size: 16px;
  }
  .clImg {
    width: 100px;
    border-radius: 50%;
  }
}
