@media (min-width: 769px) {
  .right {
    margin-left: 200px;
  }
  .navbar-nav > li {
    margin-right: 15px;
  }

  .navbar-brand {
    margin-left: 15px;
  }
}

#nav-hover:hover {
  color: #ccd0ff;
}
